.comment-container {
    .comment {
        .text-container {
            font-size: rem(13px);
            // width: 95%;

            .username,
            .text {
                line-height: 1;
                margin-block-start: rem(2px);
            }

            .username {
                margin-inline-end: rem(6px);
            }
        }

        .lower-comment {
            line-height: 1rem;
            margin-block-start: rem(4px);
        }
    }

    .like-btn {
        height: rem(22px);

        .heart-icon {
            width: rem(13px);
            height: rem(13px);

            &.liked {
                fill: $like-red;
            }

            &:not(.liked):hover {
                fill: gray;
            }
        }
    }
}