.preview-card {

    &.tall {
        grid-row: span 2;

        img {
            height: 100%;
        }
    }

    &:hover {
        .img-backdrop {
            opacity: 0.3;
        }

        .icon-container {
            &.comments {
                opacity: 1;
            }
        }
    }

    .icon-container {
        color: $light-bg;

        .shadowed {
            filter: drop-shadow(1px 1px 5px #0f0f0fa1);
        }

        &.comments {
            top: calc(50% - ($icon-height / 2));
            left: calc(50% - ($icon-width / 2));
        }
    }
}