.app-header {
    border-color: $light-bg-1;

    input {
        &.search {
            background-color: $light-bg-1;
            width: rem(268px);
            height: rem(36px);
        }
    }

    .nav-container {
        nav {
            // background-color: $light-bg;
            border-color: $light-shadow;
        }

        .icon-container {
            border-radius: 0.5rem;
            cursor: pointer;
            padding: rem(12px);

            &:hover {
                background-color: $light-shadow;
            }

            &.active {
                font-weight: 700;

                svg {
                    fill: currentColor;

                    circle {
                        fill: currentColor;
                    }

                    polygon:first-of-type {
                        fill: $light-bg-1;
                        stroke: $light-bg-1;
                    }

                    line {
                        fill: $light-bg-1;
                        stroke: $light-bg-1;
                    }

                    path {
                        fill: currentColor;
                    }

                }
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    .app-header {
        border-color: $dark-bg-1;

        input {
            &.search {
                background-color: $dark-bg-1;
            }
        }

        .nav-container {
            nav {
                // background-color: $dark-bg;
                border-color: $dark-shadow;
            }

            .icon-container {
                &:hover {
                    background-color: $dark-shadow;
                }

                &.active {
                    svg {
                        polygon:first-of-type {
                            fill: $dark-bg-1;
                            stroke: $dark-bg-1;
                        }

                        line {
                            fill: $dark-bg-1;
                            stroke: $dark-bg-1;
                        }

                    }
                }
            }
        }
    }
}