.popover-content {
    cursor: default;

    .emoji-list {
        .emoji {
            max-width: rem(42px);
            text-align: center;
            font-size: rem(32px);
            line-height: rem(42px);
        }

        .popular-list {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            column-gap: rem(1px);
            row-gap: rem(6px);
        }
    }
}