.post-details {
    // width: 85vw;
    // height: 85vh;
    max-width: 1205px;
    max-height: 700px;
    margin-inline: auto;

    .img-container {
        display: flex;
        min-width: rem(550px);

        .post-img {
            // aspect-ratio: 1/1;
            // object-fit: cover;
            // object-fit: contain;
            width: auto;
            height: auto;
        }
    }

    .comments-section {
        min-width: rem(404px);
        max-width: rem(499px);
        background-color: $light-bg;

        .post-owner {
            border-block-end: 1px solid $light-bg-1;

            .profile-container {
                .profile-img {
                    border-radius: 5rem;
                }

                .divider {
                    font-size: rem(12px);
                    font-weight: 100;
                    line-height: 1;
                    margin-inline: rem(5px);
                }

            }
        }


        .comment-list {
            overflow-y: scroll;

            &::-webkit-scrollbar {
                display: none;
            }

            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */
        }

        .actions-container {
            border-block-start: 1px solid $light-bg-1;

            .action-bar {
                padding-inline: 1rem;
                padding-block: rem(6px);


                .action-btn {
                    margin: .5rem;

                    .heart-icon {
                        &.liked {
                            fill: $like-red;
                        }
                    }
                }

                .action-btn:first-of-type {
                    margin-inline-start: 0;
                }

                .action-btn:last-of-type {
                    margin-inline-start: auto;
                    margin-inline-end: 0;
                }
            }
        }

        .add-comment-container {
            border-block-start: 1px solid $light-bg-1;
            padding-inline: 1rem;
            padding-block: rem(14px);
        }
    }
}

@media (prefers-color-scheme: dark) {
    .post-details {
        .comments-section {
            background-color: $dark-bg1;

            .post-owner {
                border-color: $dark-bg-1;

            }

            .actions-container,
            .add-comment-container {
                border-color: $dark-bg-1;
            }
        }
    }
}