.post-details {
    .post-img {
        aspect-ratio: 1;
        object-fit: cover;
    }

    .comments-section {
        background-color: $light-bg;

        .post-owner {
            border-block-end: 1px solid $light-bg-1;

            .profile-container {
                .profile-img {
                    border-radius: 5rem;
                }

                .divider {
                    font-size: rem(12px);
                    font-weight: 100;
                    line-height: 1;
                    margin-inline: rem(5px);
                }

            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    .post-details {
        .comments-section {
            background-color: $dark-bg1;

            .post-owner {
                border-color: $dark-bg-1;

            }
        }
    }
}