.user-page {
    .user-header {

        .info-container {
            .user-interactions {
                gap: rem(20px);

                .follow-btn {
                    &:hover {
                        filter: saturate(75%);
                    }

                    padding: rem(7px) rem(16px);
                }
            }
        }
    }
}