.user-page {

    .user-header {

        .info-container {
            .user-interactions {
                gap: rem(20px);

                .follow-btn {
                    &:hover {
                        filter: saturate(75%);
                    }

                    padding: rem(6px) rem(14px);
                }
            }
        }
    }
}