// Colors
$dark-bg: #151515;
$dark-bg-1: #262626;

$light-bg: #f7f7f7;
$light-bg-1: #dbdbdb;

//Shadow-colors
$dark-shadow: #ffffff1a;
$light-shadow: #00000009;

//Sizes:
$icon-width: 24px;
$icon-height: 24px;